version: "3.9"
services:
  db:
    container_name: mettec-api-db-postgres
    image: postgres:16.9-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "8080:5432"
    volumes:
      - postgres_vol:/var/lib/postgresql/data

  pgadmin:
    container_name: mettec-api-pgadmin
    image: dpage/pgadmin4:8.2
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_vol:/var/lib/pgadmin

volumes:
  postgres_vol:
  pgadmin_vol: